<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o carpeta existen físicamente, se sirven directamente (Funciona en local y Render)
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Redirección dinámica: detecta automáticamente si estás en una subcarpeta o en la raíz
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>